<!DOCTYPE html>
<html lang="pt-BR" dir="ltr"   id="html" ng-app="vsApp">
  <head>
    <meta charset="utf-8">
    <title>HearthStone</title>


        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Cache-Control" content=" public, no-cache">

        <!-- meta tag html padrão -->
        <meta name="Author" lang="br" content="Felipe Brasil">
        <meta name="robots" content="index,follow,noodp">
        <meta name="category" content="Games">
        <meta name="keywords" content="tags, relacionadas, deste, artigo, da seção, página">
        <meta name="description" content="  Chegou a hora de colocar em prática o grande plano da Liga do MAL.
          Prepare-se para encarar os Defensores de Dalaran em Assalto a Dalaran,
          a nova aventura para um jogador de Hearthstone.">
        <meta http-equiv="refresh" content="300">


        <!-- meta tag html google-->
        <meta itemprop="headline" content="HearthStone" >
        <meta itemprop="og:headline" content="Nova aventura para um jogador de Hearthstone">
        <meta itemprop="name" content="HearthStone">
        <meta itemprop="description" content="  Chegou a hora de colocar em prática o grande plano da Liga do MAL.
          Prepare-se para encarar os Defensores de Dalaran em Assalto a Dalaran,
          a nova aventura para um jogador de Hearthstone.">
        <!-- <meta itemprop="image" content="http://www.hearthStone.com.br/assets/img/google-post.jpg"> -->

        <meta name="googlebot" content="index,follow,noodp">

        <!-- Twitter -->
        <meta name="twitter:site" content="@hearthStone">
        <meta name="twitter:creator" content="@hearthStone">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="http://www.hearthStone.com.br">
        <meta name="twitter:title" content="Nova aventura para um jogador de Hearthstone">
        <meta name="twitter:description" content="  Chegou a hora de colocar em prática o grande plano da Liga do MAL.
          Prepare-se para encarar os Defensores de Dalaran em Assalto a Dalaran,
          a nova aventura para um jogador de Hearthstone.">
        <!-- <meta name="twitter:image" content="http://www.hearthStone.com.br/assets/img/twitter-post.jpg"> -->



        <!-- Facebook-->
        <meta property="fb:pages" content="000000000000" />
        <meta property="og:url" content="http://www.hearthStone.com.br">
        <meta property="og:type" content="Game" />
        <meta property="og:title" content="Nova aventura para um jogador de Hearthstone">
        <meta property="og:site_name" content="HearthStone">
        <meta property="og:description" content="Chegou a hora de colocar em prática o grande plano da Liga do MAL.
          Prepare-se para encarar os Defensores de Dalaran em Assalto a Dalaran,
          a nova aventura para um jogador de Hearthstone.">
        <meta property="article:tag" content="tags, relacionadas, deste, artigo, da seção">
        <meta property="article:section" content="Chegou a hora de colocar em prática o grande plano da Liga do MAL.
          Prepare-se para encarar os Defensores de Dalaran em Assalto a Dalaran,
          a nova aventura para um jogador de Hearthstone.">




        <!-- <meta property="og:image" content="http://www.hearthStone.com.br/assets/img/facebook-post.jpg"> -->
        <meta property="og:image:type" content="image/jpeg">

        <meta property="og:locale" content="pt_BR" />



        <!-- Favicon -->
        <!-- <link rel="icon" href="assets/img/favicon.png" /> -->


    <!-- GoogleAnalytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-000000000-1', 'auto');
            ga('send', 'pageview');

        </script>

    <!--css modulos
    <link rel="stylesheet" href="assets/css/style.css" media="all" />
    <link rel="stylesheet" href="assets/css/fonts.css" media="all" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="all" />

    <link rel="stylesheet" href="assets/css/header.css" media="all" />
    <link rel="stylesheet" href="assets/css/main.css" media="all" />

    <link rel="stylesheet" href="assets/css/slick/slick.css" media="all" />

    <link rel="stylesheet" href="assets/css/tablet.css" media="all" />
    <link rel="stylesheet" href="assets/css/mobile.css" media="all" />
    <link rel="stylesheet" href="assets/css/desktop.css" media="all" />
-->
    <!--css min -->
    <link rel="stylesheet" href="assets/css/style.min.css" media="all" />

  </head>
  <body itemscope itemtype="https://schema.org/CreativeWork" ng-controller="dabCtrl">
    <!-- Header -->
    <header role="heading">
      <div class="bx-heading" title="Blizzard">
        <img src="assets/img/blizzard.png" alt="Blizzard" itemprop="logo" role="img">
      </div>
      <h1 itemscope itemtype="http://schema.org/Brand">
        <a href="#" title="HearthStone" itemprop="url" >
          <img src="assets/img/hearthstone.png" alt="HearthStone" itemprop="logo" role="img">

        </a>
        <span><img src="assets/img/verso-carta.png" alt="Verso da Carta" role="img"></span>
      </h1>


    </header>
    <!-- Header -->

    <!-- Main -->
    <main role="main" aria-label="Conteúdo Principal" >

      <!-- Apresentação Destaque -->
      <section class="sec-destaque" role="presentation" itemscope itemtype="https://schema.org/Game">
        <h2>Nova aventura para um jogador de Hearthstone</h2>
        <figure>
          <img src="assets/img/o-assalto-do-seculo.png" alt="O Assalto do Século" role="img">
          <figcaption>
            Chegou a hora de colocar em prática o grande plano da Liga do MAL.
            Prepare-se para encarar os Defensores de Dalaran em Assalto a Dalaran,
            a nova aventura para um jogador de Hearthstone.
          </figcaption>
        </figure>

      </section>

      <!-- Destaque Heróis -->
      <section class="sec-destaque-herois" role="slider" >

        <h2>Heróis</h2>

        <div class="carousel-controls testimonial-carousel-controls" style="position:relative;" >
          <div class="control prev"><i class="fa fa-chevron-left ">&nbsp;</i></div>
          <div class="control next"><i class="fa fa-chevron-right ">&nbsp;</i></div>
        </div>

        <div class="testimonial-carousel">


            <article class="">
              <h3>Jaina</h3>
              <figure>
                <img src="assets/img/jaina.jpg" alt="Jaina" role="img">
                <figcaption> Saque seu deck e prepare-se para Hearthstone - o jogo de cards veloz e estratégico, fácil de aprender e extremamente divertido. Jogue de graça e use cards repletos de feitiços e criaturas para comandar os heróis de Warcraft em duelos épicos.</figcaption>
              </figure>
            </article>

            <article class="">
              <h3>Garrosh</h3>
              <figure>
                <img src="assets/img/garrosh.jpg" alt="Garrosh" role="img">
                <figcaption> Saque seu deck e prepare-se para Hearthstone - o jogo de cards veloz e estratégico, fácil de aprender e extremamente divertido. Jogue de graça e use cards repletos de feitiços e criaturas para comandar os heróis de Warcraft em duelos épicos.</figcaption>
              </figure>
            </article>

            <article class="">
              <h3>Uther</h3>
              <figure>
                <img src="assets/img/uther.jpg" alt="Uther" role="img">
                <figcaption> Saque seu deck e prepare-se para Hearthstone - o jogo de cards veloz e estratégico, fácil de aprender e extremamente divertido. Jogue de graça e use cards repletos de feitiços e criaturas para comandar os heróis de Warcraft em duelos épicos.</figcaption>
              </figure>
            </article>

            <article class="">
              <h3>Jaina</h3>
              <figure>
                <img src="assets/img/jaina.jpg" alt="Jaina" role="img">
                <figcaption> Saque seu deck e prepare-se para Hearthstone - o jogo de cards veloz e estratégico, fácil de aprender e extremamente divertido. Jogue de graça e use cards repletos de feitiços e criaturas para comandar os heróis de Warcraft em duelos épicos.</figcaption>
              </figure>
            </article>

            <article class="">
              <h3>Garrosh</h3>
              <figure>
                <img src="assets/img/garrosh.jpg" alt="Garrosh" role="img">
                <figcaption> Saque seu deck e prepare-se para Hearthstone - o jogo de cards veloz e estratégico, fácil de aprender e extremamente divertido. Jogue de graça e use cards repletos de feitiços e criaturas para comandar os heróis de Warcraft em duelos épicos.</figcaption>
              </figure>
            </article>

            <article class="">
              <h3>Uther</h3>
              <figure>
                <img src="assets/img/uther.jpg" alt="Uther" role="img">
                <figcaption> Saque seu deck e prepare-se para Hearthstone - o jogo de cards veloz e estratégico, fácil de aprender e extremamente divertido. Jogue de graça e use cards repletos de feitiços e criaturas para comandar os heróis de Warcraft em duelos épicos.</figcaption>
              </figure>
            </article>


          </div>



      </section>



      <!-- Formulário -->
      <section class="sec-form">

          <form  name="form" ng-submit="inserir()" role="form" >
            <fieldset>
              <h2>Formulário</h2>
              <p>Jogue como você quiser: Encontre a partida perfeita no modo casual, ranqueado ou na arena. Participe de contendas divertidas ou treine contra adversários de IA e aperfeiçoe sua habilidades no modo Aventura de Hearthstone.

</p>

            </fieldset>
            <div class="container">


              <div class="row">
                <div class="form-group col-sm-6 col-xs-12">
                  <label for="name">
                    Nome
                    <strong role="alert" ng-show="form.name.$error.required">Campo Obrigatório</strong>
                  </label>
                  <input placeholder="Nome Completo" type="text" id="name" name="name" class="form-control"  ng-model="name" required />
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label for="email">
                    E-mail
                    <strong role="alert" ng-show="form.email.$error.required">Campo Obrigatório</strong>
                  </label>
                  <input placeholder="seu-email@provedor.com.br" type="email" id="email" name="email" class="form-control" ng-model="email"  required />
                </div>

              </div>
              <div class="row">
                <div class="form-group col-12">

                  <label for="message">
                    Deixe sua mensagem
                    <strong role="alert" ng-if="message">total de {{message.length}}/50 caracteres</strong>
                    <strong role="alert" ng-show="form.message.$error.maxlength">Máximo 50 caracteres</strong>
                    <strong role="alert" ng-show="form.message.$error.required">Campo Obrigatório</strong>
                  </label>
                  <textarea rows="3" placeholder="Mensagem" name="message" id="message" maxlength="50" class="form-control" ng-maxlength="50" ng-model="message"required ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12 center">
                  <input title="Enviar Mensagem" type="submit" value="{{btnName}}" ng-disable="form.$invalid" class="btn save"  >
                </div>
              </div>
              <div id="aviso" class="{{avisoclass}}" role="alert" > {{msg}} </div>
            </div>







          </form>
      </section>



    </main>
    <!-- Main -->

    <!-- Footer -->
    <footer>

      <a class="lnktopo offset" title="Voltar ao topo" href="#html"><em class="fa fa-angle-up"></em></a>

      <p> © <span class="year"></span> Copyright Felipe Brasil<abbr title="marca registrada" >®</abbr></p>
    </footer>
    <!-- Footer -->


    <!-- JS Modulos - bibliotecas -->
    <script type="text/javascript" src="assets/js/jquery/jquery.min.js"></script>

    <!-- slick -->
    <script type="text/javascript" src="assets/js/slick/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/slick/slick-home.js"></script>

    <!-- Angular form-->
    <script src="assets/js/angular/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/form-angular.js"></script>

    <!-- Js padrao -->
    <script type="text/javascript" src="assets/js/script.js"></script>




  </body>
</html>
