/*
    Created on : 19/05/2019
    Author     : Felipe Brasil

    Description:
*/
body{
  background-image: url('bg/bg-expansion.jpg');
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #010103;
}

  main { position: relative; width: 100%; }

  /* section destaque*/
  main .sec-destaque    { padding:2rem;}
  main .sec-destaque h2 { font-size: 2rem;}
  main .sec-destaque figure figcaption {
    font-size: 1.2rem;
    font-weight: bold;
  }
  main .sec-destaque h2,main .sec-destaque figure figcaption{
    text-align: center;
    color: #fff;
    text-shadow: -1px 1px 5px rgba(0,0,0,.7);
  }
  main .sec-destaque figure{
    margin:0 auto;
    position: relative;
    width: 35%;
  }
  main .sec-destaque figure img{ width: 100%;}
/* fim section destaque*/


/* section destaque heróis*/
  main .sec-destaque-herois {
    position: relative;
    background-color: #e8d7ab;
    min-height: 1147px;
  }
  main .sec-destaque-herois h2{
    padding: 6rem 2rem;
    text-align: center;
    position: relative;
    z-index: 3;
  }
  main .sec-destaque-herois:before,
  main .sec-destaque-herois:after{
    background-image: url('bg/bg-top.png');
    background-position: 0 0;
    width: 100%;
    height: 35px;
    display: block;
    position: absolute;
    content: "";
    pointer-events: none;
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
    z-index: 3;
  }
  main .sec-destaque-herois:before{
    top: -10px;
  }
  main .sec-destaque-herois:after{
    bottom: -10px;
    -webkit-transform: rotate(180deg) translateY(-50%);
      -ms-transform: rotate(180deg) translateY(-50%);
       transform: rotate(180deg) translateY(-50%);

  }
/*Add Slick next, prev, box*/

  main .sec-destaque-herois .carousel-controls{ position: relative;z-index: 10;}
    main .sec-destaque-herois .carousel-controls .prev,
    main .sec-destaque-herois .carousel-controls .next{ position: absolute; top: 15rem; cursor: pointer; font-size: 2rem;}
    main .sec-destaque-herois .carousel-controls .prev{ left: 2rem;}
    main .sec-destaque-herois .carousel-controls .next{ right: 2rem;}

  main .sec-destaque-herois article.slick-slide {
    overflow: auto;
    margin: 0 5rem;
    text-align:center;
  }
    main .sec-destaque-herois article.slick-slide h3 { font-size: 1.5rem;text-shadow: -1px 1px 5px rgba(255, 252, 252, 0.7);}
    main .sec-destaque-herois article.slick-slide figure{ position: relative;}
    main .sec-destaque-herois article.slick-slide figure img{ width: 100%; height:535px;border-radius: 1rem; }
    main .sec-destaque-herois article.slick-slide figure figcaption{
      position: relative;
      top: 0;
      width: 100%;
      height: 200px;
      padding: 2rem;

      color: #000;
      text-shadow: -1px 1px 5px rgba(0,0,0,.7);
    }
/* fim section destaque heróis*/



/* Formulário */
main .sec-form { padding: 5rem;}
main .sec-form form{
  position: relative;
  margin: 0 auto;
  padding:2rem 5rem;
  width: 80%;
  display: block;
  background-color: #fff;
}
main .sec-form form fieldset{text-align: center; padding-top:2rem ;}
main .sec-form form fieldset h2,
main .sec-form form fieldset p{ padding-bottom:2rem ;}
main .sec-form form fieldset,
main .sec-form form .container{
  position: relative;
  margin: 0 auto;
  width: 50%;
}
main .sec-form form .container label strong{
  font-size: 0.8rem; color: red; font-weight: 200;
}
main .sec-form form .container .center{ text-align: center;}
input.save[type=submit]      {color:#fff; background-color: #6c757d; }




/* Acessibilidade  */
a[accesskey]:after, button[accesskey]:after, input[accesskey]:after,
label[accesskey]:after, legend[accesskey]:after, textarea[accesskey]:after {
    margin-left: 0.3em;
    content: "[" attr(accesskey) "]";
    }


    /*Disabilitar elementos*/
    a[disabled], button[disabled], input[disabled],
label[disabled], legend[disabled], textarea[disabled] {
    opacity: 0.3; cursor: none ;

    }
/*Related CSS style definition for this example:*/
[aria-required=true] {
  border: red thin solid;
}
[data-required=true]:after {
  content: url('/iconStar.gif');
}





/* The snackbar - position it at the bottom and in the middle of the screen */
#aviso {
  background-color: #137d00ad;
  color: #fff;
  font-size: 1rem;
  text-shadow: -1px 1px 5px rgba(0,0,0,.7);
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    /*background-color: #333;  Black background color */
    /*color: #fff;  White text color */
    text-align: center; /* Centered text */
    border-radius: 10rem; /* Rounded borders */
    padding: 2rem; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 3; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 50%; /* 30px from the bottom */

}
.none{display: none; }

#aviso:before,
#aviso:after{
  top: -1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 8rem;
  height: 8rem;
  display: block;
  position: absolute;
  content: "";
  pointer-events: none;

  z-index: 3;
}
#aviso:before{
  background-image: url('../img/troll.png');
  right: -5rem;
}
#aviso:after{
  background-image: url('../img/murloc.png');
  left: -5rem;
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* fim Formulário */

/*Footer*/

footer{
  color:#fff;
  font-weight: 400;
  text-align: center;
  text-shadow: -1px 1px 5px rgba(0,0,0,.7);
}

/*link topo*/
.lnktopo {   position: fixed; z-index: 20;  right: 3%; bottom: 3%; opacity: 0.20; -webkit-transition:all 0.3s;     -moz-transition:all 0.3s;    transition:all 0.3s;}
.lnktopo:hover {opacity: 100;}
.lnktopo em{

    background-color: #f5f5f5;
     font-size: 180%; padding: 0.3rem 0.6rem; border-radius: 3rem;  float: left;
     border:0.1rem solid #aabfd5;
     -webkit-box-shadow: 0px 3px 6px -2px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    0px 3px 6px -2px rgba(50, 50, 50, 0.40);
    box-shadow:         0px 3px 6px -2px rgba(50, 50, 50, 0.40);
    -webkit-transition: 3s;
    -moz-transition: 3s;
    transition: 3s;

}










/* fim footer */
